# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python
env/
venv/
ENV/
.venv/

# =========================
# Django
# =========================
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Media & static (agar ishlatsangiz)
media/
staticfiles/

# =========================
# Environment variables
# =========================
.env
.env.*
!.env.example

# =========================
# VS Code
# =========================
.vscode/
.history/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Test & coverage
# =========================
.coverage
htmlcov/
.pytest_cache/

# =========================
# Migrations (agar istamasangiz)
# =========================
main/migrations/
**/migrations/*.py
!**/migrations/__init__.py
